@charset "UTF-8";
/*переменные*/
/*первая картинка*/
.divMain {
  background-color: #7070b8;
  width: 700px;
  height: 600px;
  padding: 10px;
}

.divOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.firstBloc {
  background-color: yellow;
  height: 100px;
  width: 200px;
  margin-top: 25px;
}

.secondBlock {
  background-color: yellow;
  height: 100px;
  width: 490px;
  margin-top: 25px;
}

.divTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.littleOne {
  background-color: yellow;
  height: 100px;
  width: 110px;
  margin-top: 25px;
}

.littleTwo {
  background-color: yellow;
  height: 100px;
  width: 110px;
  margin-top: 25px;
}

.littleThree {
  background-color: yellow;
  height: 100px;
  width: 110px;
  margin-top: 25px;
}

.littleFour {
  background-color: yellow;
  height: 100px;
  width: 110px;
  margin-top: 25px;
}

.littleFive {
  background-color: yellow;
  height: 100px;
  width: 200px;
  margin-top: 25px;
}

.divThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.divLastOne {
  background-color: yellow;
  height: 280px;
  width: 240px;
  margin-top: 25px;
}

.divLastTwo {
  background-color: yellow;
  height: 280px;
  width: 320px;
  margin-top: 25px;
}

.divLastThree {
  background-color: yellow;
  height: 280px;
  width: 110px;
  margin-top: 25px;
}

/*Вторая картинка*/
.divStart {
  background-color: #7070b8;
  width: 700px;
  height: 600px;
  margin: 25px;
}

.starOne {
  height: 100px;
  width: 490px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.startTwo {
  width: 100px;
  height: 95px;
  background-color: #0da4eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.startThree {
  width: 100px;
  height: 95px;
  background-color: yellow;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.startFour {
  width: 100px;
  height: 95px;
  background-color: #4a1294;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.endOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.centerOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.spaceBetOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.spaceAr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

/*третяя картинка*/
.divContainer {
  width: 700px;
}

.divContainer .divFlexTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #575702;
}

.divContainer .fChild {
  font-size: 40px;
}

.divContainer .lChild {
  font-size: 40px;
}

.divContainer .colums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 280px;
}

.divContainer .divColOne {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: yellow;
  text-align: center;
}

.divContainer .divColTwo {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  font-size: 40px;
}

.divContainer .divColThree {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: yellow;
  text-align: center;
}

.divContainer .divThreeBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #575702;
  height: 40px;
  font-size: 40px;
  text-align: center;
}

/* четвертая картинка */
.divFourOne {
  border: 1px dashed black;
  height: auto;
  width: 610px;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lastOneDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  border-bottom: 2px solid black;
  background-color: green;
}

.lastTwoDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lastTwoDiv :first-child {
  width: 30%;
  height: 80%;
  background-color: orange;
}

.lastThreeDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  border-bottom: 2px solid black;
  background-color: grey;
}

.lastFourDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  border-right: 2px solid black;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lastFourDiv :first-child {
  width: 100%;
  height: 100px;
  background-color: orange;
}

.lastFiveDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  border-right: 2px solid black;
  background-color: grey;
}

.lastSixDiv {
  width: 200px;
  height: 200px;
  border: 1px dashed black;
  background-color: green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.lastSixDiv :first-child {
  height: 70%;
  width: 40%;
  background-color: orange;
}
/*# sourceMappingURL=style.css.map */