/*переменные*/
$mainH: 600px;
$mainW: 700px;
$widthAuto: auto;
$HeighthAuto: auto;
$mainColor: #7070b8;
$border: 1px dashed black;
$borderLastFlex: 2px solid black;
$colorFlexOne: rgb(74, 18, 148);
$colorFlexTwo: rgb(13, 164, 235);
$mainPading: 10px;
$colorLastFlexGreen: green;
$colorLastFlexGrey: grey;
$colorOrange: orange;
$color2: rgb(87, 87, 2);
$color: yellow;
$fontsize: 40px;
$contHeight: 100px;
$contWidth: 200px;
$contTwoWidth: 490px;
$contMarginTop: 25px;
$marginLeft: -80px;
$contThreeWidth: 110px;
$lastDivHeight: 280px;
$lastDivWidth: 240px;
$lastDivH: 320px;
$flexH: 95px;
$flexW: 100px;
$flex: flex;
$flexInl: inline-flex;
$flexEnd: flex-end;
$flexCenter: center;
$flexBe: space-between;
$flexAround: space-around;
$flexEve: space-evenly;
$marginFlexTwo: 140px;
$fdirect: column;

/*первая картинка*/
.divMain {
  background-color: rgb(112, 112, 184);
  width: 700px;
  height: 600px;
  padding: 10px;
}
.divOne {
  display: flex;
  justify-content: space-between;
}
.firstBloc {
  background-color: $color;
  height: $contHeight;
  width: $contWidth;
  margin-top: $contMarginTop;
}
.secondBlock {
  background-color: $color;
  height: $contHeight;
  width: $contTwoWidth;
  margin-top: $contMarginTop;
}

.divTwo {
  display: flex;
  justify-content: space-between;
}
.littleOne {
  background-color: $color;
  height: $contHeight;
  width: $contThreeWidth;
  margin-top: $contMarginTop;
}
.littleTwo {
  background-color: $color;
  height: $contHeight;
  width: $contThreeWidth;
  margin-top: $contMarginTop;
}
.littleThree {
  background-color: $color;
  height: $contHeight;
  width: $contThreeWidth;
  margin-top: $contMarginTop;
}
.littleFour {
  background-color: $color;
  height: $contHeight;
  width: $contThreeWidth;
  margin-top: $contMarginTop;
}
.littleFive {
  background-color: $color;
  height: $contHeight;
  width: $contWidth;
  margin-top: $contMarginTop;
}
.divThree {
  display: flex;
  justify-content: space-between;
}
.divLastOne {
  background-color: $color;
  height: $lastDivHeight;
  width: $lastDivWidth;
  margin-top: $contMarginTop;
}
.divLastTwo {
  background-color: $color;
  height: $lastDivHeight;
  width: $lastDivH;
  margin-top: $contMarginTop;
}
.divLastThree {
  background-color: $color;
  height: $lastDivHeight;
  width: $contThreeWidth;
  margin-top: $contMarginTop;
}
/*Вторая картинка*/
.divStart {
  background-color: $mainColor;
  width: $mainW;
  height: $mainH;
  margin: $contMarginTop;
}

.starOne {
  height: $contHeight;
  width: $contTwoWidth;
  margin-top: $contMarginTop;
  display: $flex;
}
.startTwo {
  width: $flexW;
  height: $flexH;
  background-color: $colorFlexTwo;
  display: $flex;
  justify-content: $flexEnd;
}
.startThree {
  width: $flexW;
  height: $flexH;
  background-color: $color;
  display: $flex;
  justify-content: $flexEnd;
}
.startFour {
  width: $flexW;
  height: $flexH;
  background-color: $colorFlexOne;
  justify-content: $flexEnd;
  display: $flex;
}
.endOne {
  display: $flex;
  justify-content: $flexEnd;
}
.centerOne {
  display: $flex;
  justify-content: center;
  margin-top: $contMarginTop;
}
.spaceBetOne {
  display: $flex;
  margin-top: $contMarginTop;
  justify-content: $flexBe;
}
.spaceAr {
  display: $flex;
  margin-top: $contMarginTop;
  justify-content: $flexAround;
}
/*третяя картинка*/
.divContainer {
  width: $mainW;
  .divFlexTop {
    display: $flex;
    flex-direction: $fdirect;
    align-items: $flexCenter;
    background-color: $color2;
  }
  .fChild {
    font-size: $fontsize;
  }
  .lChild {
    font-size: $fontsize;
  }

  .colums {
    display: $flex;
    height: $lastDivHeight;
  }

  .divColOne {
    flex-basis: 25%;
    background-color: $color;
    text-align: center;
  }

  .divColTwo {
    flex-basis: 50%;
    text-align: $flexCenter;
    font-size: $fontsize;
  }

  .divColThree {
    flex-basis: 25%;
    background-color: $color;
    text-align: center;
  }

  .divThreeBottom {
    display: $flex;
    flex-direction: $fdirect;
    align-items: $flexCenter;
    background-color: $color2;
    height: $fontsize;
    font-size: $fontsize;
    text-align: center;
  }
}
/* четвертая картинка */
.divFourOne {
  border: $border;
  height: auto;
  width: $mainH + 10px;
  margin-top: $contMarginTop;
  display: flex;
  flex-wrap: wrap;
}
.lastOneDiv {
  width: 200px;
  height: 200px;
  border: $border;
  border-bottom: $borderLastFlex;
  background-color: $colorLastFlexGreen;
}
.lastTwoDiv {
  width: 200px;
  height: 200px;
  border: $border;
  border-right: $borderLastFlex;
  border-bottom: $borderLastFlex;
  background-color: $colorLastFlexGreen;
  display: flex;
  align-items: $flexCenter;
  justify-content: $flexCenter;

  :first-child {
    width: 30%;
    height: 80%;
    background-color: $colorOrange;
  }
}
.lastThreeDiv {
  width: 200px;
  height: 200px;
  border: $border;
  border-bottom: $borderLastFlex;
  background-color: $colorLastFlexGrey;
}
.lastFourDiv {
  width: 200px;
  height: 200px;
  border: $border;
  border-right: $borderLastFlex;
  background-color: $colorLastFlexGreen;
  display: flex;
  align-items: flex-end;

  :first-child {
    width: 100%;
    height: 100px;
    background-color: $colorOrange;
  }
}
.lastFiveDiv {
  width: 200px;
  height: 200px;
  border: $border;
  border-right: $borderLastFlex;
  background-color: $colorLastFlexGrey;
}
.lastSixDiv {
  width: 200px;
  height: 200px;
  border: $border;
  background-color: $colorLastFlexGreen;
  display: flex;
  align-items: flex-end;
  :first-child {
    height: 70%;
    width: 40%;
    background-color: $colorOrange;
  }
}
